// colors : oragne=#fbb13af1, black=#191919 white=#ffffffdf
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: #191919;
    color: #ffffffdf;
    
    
}
section{
    height: 100vh;
}
html{
    padding: 0 15% 0 15%;
    letter-spacing: 2px;
    scroll-behavior: smooth;
}
p{
    font-size: 20px;
}
li{
    display: flex;
    justify-content: space-around;
    padding: 0px 0px 0px 60px;
    font-size: 1.2rem;
    letter-spacing: 3px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0 0 0;
}
#logo{
    width: 70px;
    height: 70px;
}

.menuFull{
    display: flex;
    justify-content: space-around;
    z-index: 1000;
}
#home{
    text-align: center;
    height: 100vh;

}
.hello{   
    padding-top: 10%;
    font-size: 8.5rem;
    letter-spacing: 7px;
    
}
.visibility{
    visibility: hidden;
}
.bar{
    color:#fbb13af1 ;
}
.content{
    font-size: 3.5rem;
    padding-top: 4rem;
    font-family: 'Nothing You Could Do', cursive;
    color:#fbb13af1 ;
}
.contentp{
    font-size: 1.5rem;
    padding-top: 5rem;
    letter-spacing: 4px;
}
.navMenu:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fbb13af1;
    transition: width 0.4s ease;
}
.navMenu:before{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fbb13af1;
    transition: width 0.4s ease;
}
.navMenu:hover{
    color: #fbb13af1;
    transition: all 0.4 ease;
}
.navMenu:hover:after{
    width: 100%;
    transition: width 0.4s;
}
.navMenu:hover:before{
    width: 100%;
    transition: width 0.4s;
}
.menu-btn{
    display: none;
}
.sectionTit{
    position: static;
    font-size: 3.5rem;
    padding-top: 2.5rem;
    color: #fbb13af1;
}



@media only screen and (max-width: 1400px){
    html{
        padding: 0 10%;
        scroll-behavior: initial;
        #logo{
            width: 60px;
            height: 60px;
        }
        .profileImg{
            height: 180px;
            width: 150px;
        }
        #about{
            height: auto;
        }
    }
    p{
        font-size: 16px;
    }
    .banner{
        scale: 0.8;
    }
    
    
    // MENU BUTTON START
.menu-btn{
    position: fixed;
    background: none;
    left: 85%;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    z-index: 999;
    transition: all 0.8s ease;
    
    
}
.menu-btn-up{
    top: 15px;
    left: 90%;
    transform: scale(0.8);
    transition: all 0.8s ease;
}
.line1{
    width: 32px;
    height: 4px;
    background-color: #fbb13af1;
}
.line2{
    width: 25px;
    height: 4px;
    background-color:#fbb13af1;
}
.line3{
    width: 15px;
    height: 4px;
    background-color: #fbb13af1;
}
.menu-btn-Close{
    .line1{
        display: none;
    }
    .line2{
        position: absolute;
        transform-origin: 50%;
        transform: rotate(45deg);
        width: 35px;
        transition: 0.4s ease;
        
    }.line3{
        position: absolute;
        transform-origin: 50%;
        transform: rotate(135deg);
        width: 35px;
        transition: 0.4s ease;
       
    }
}
    .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        right: -100%;
        top: 0;
        transition: all 0.4s ;
        li{
            font-size: 2rem;
        }
        .menuFull{
            position: fixed;
            z-index: 900;
            height: 100%;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            
        }
        
    }
    .menuActive{
        right :0%;
        transition: all 0.4s ;
    }
}
a{
    font-weight: 600;
}
// MENU BUTTON END
// ABOUT
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p{
        color: #ffffffe1;
    }
    
}





.bannerSection{
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.banner{
    font-size: 14px;
    margin: 1rem;
    height: 12rem;
    width: 12rem;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.2),-4px -4px 8px -4px rgba(255,255,255,0.2);
    border-radius: 50%;
    span{
        background-color: #19191900;
    }
    .percent{
        font-size: 2rem;
        color: #fbb13af1;
        font-weight: 600;
    }
    

}

#work{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    height: auto;
}
.card{
    width: 15rem;
    height: 20rem;
    margin: 1rem;
    border-radius: 6px;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2),-5px -5px 8px -4px rgba(255,255,255,0.2);
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    letter-spacing: 1px;
    p{
        padding: 10px;
        font-size: 16px;
        a{
            color:#fbb13af1 ;
            i{
                color:#fbb13af1 ;
            }
        }
    }
    img{
        max-width:100%;
        display: block;
        height:auto;
        overflow: hidden;  
    }
    
    .steak{
        background-color: antiquewhite;
    }
    .hand{
        height: 166px;
        padding: 0 25px;
        background-color: rgb(122, 117, 110);
    }

}
.cardSection{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}
.card:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
button,input,textarea{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.seemore
{
    width: 120px;
    height: 40px;
    border-radius: 25px;
    font-size: 14px;
    border: 2px solid #fbb13af1 ;
    background-color: #19191900;
    color: #fbb13af1;
    i{
        color: #fbb13af1;
        background-color: #19191900;
    }
}
.seemore:hover{
    background-color: #fbb13af1;
    color: #191919;
    i{
        color: #191919;
        background-color: #fbb13af1;
    }
}
#contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    input{
        height: 32px;
        margin: 1rem 1rem 1rem 0;
        padding: 3px;
        box-shadow: inset 4px 4px 8px 0px rgba(0,0,0,0.5),inset -4px -4px 6px 0px rgba(255,255,255,0.1);
        border-radius: 4px;
        
    }
    textarea{
        margin: 1rem 1rem 1rem 0;
        box-shadow: inset 4px 4px 8px 0px rgba(0,0,0,0.5),inset -4px -4px 6px 0px rgba(255,255,255,0.1);
        padding: 3px;
        border-radius: 6px;
        resize: none;
    }
    
}
button{
    width: 120px;
    height: 40px;
    border-radius: 25px;
    font-size: 14px;
    border: 2px solid #fbb13af1 ;
    background-color: #19191900;
    color: #fbb13af1;
    }
button:hover{
        background-color: #fbb13af1;
        color: #191919;
}
.formSection{
    width: 50%;
    input{
        width: 250px;
    }
    textarea{
        width: 600px;
        height: 200px;
    }
}
.linkSection{
    width: 290px;
    height: 5rem;
    margin: 1rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    i{
        font-size: 24px;
    }
}
@media only screen and (max-width: 1000px){
    .formSection{
        input{
            width: 220px;
        }
        textarea{
            width: 350px;
            height: 220px;
        }
    }
}
@media only screen and (max-width: 600px){
    .formSection{
        input{
            width: 180px;
        }
        textarea{
            width: 200px;
            height: 180px;
            
        }
    }
}
#page2{
    font-size: 4rem;
    body{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    h3{
        text-shadow:3px 1px #8e3f97c2;
        background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 1.75s linear infinite ;
    animation-direction: alternate;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    }
    h3{cursor: pointer;}
    @keyframes animatedBackground_a {
        0% { background-position: 0 0 }
        100% { background-position: -500px 0 }
    }
}
}